.drop-down {
  position: absolute;
  right: 35px;
  margin-top: 0;
  height: 300px;
  width: 400px;
  position: absolute;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  background: white;
  z-index: 10;
}

.profile-image-dropdown {
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin-right: 10px;
  border-radius: 50%;
}

.profile-image-container,
.profile-name-container,
.profile-email-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.15rem 0.25rem;
}



.logout-link {
  color: white;
  text-decoration: none;
}

.myprofile-footer {
  padding-top: 0;
}

button.confirm-input-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: hsl(125, 67%, 44%);
  font-size: 1.2rem;
  transition: all 0.2s linear;
}

button.confirm-input-btn:disabled {
  background: transparent;
  border-color: transparent;
  cursor: not-allowed;
  font-size: 1.2rem;
  color: grey;
}

button.edit-input-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s linear;
}
