.navigation-btn-container {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.active-page {
  color: white;
  background-color: #1e90ff;
  border-radius: 18px;
  text-decoration: underline white;
  border-color: #1e90ff;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.not-active-page {
  color: black;
  border-radius: 18px;
  text-decoration: none;
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}
