:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.2s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.exercise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise-form-control {
  margin: 0.2rem 0;
}

.input-exerciseName {
  width: 50%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
  margin-left: 0.2rem;
}

.input-sets {
  width: 50%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
  margin-left: 2.1rem;
}

.input-reps {
  width: 50%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
  margin-left: 1.8rem;
}

.exercise-form-control input:focus,
.exercise-form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.exercise-form-control--invalid label,
.exercise-form-control--invalid p {
  color: red;
}

.exercise-form-control--invalid input,
.exercise-form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}

.exercise-delete-btn {
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  /* transition: var(--transition); */
  cursor: pointer;
}

.exercise-delete-btn:hover {
  color: hsl(360, 71%, 66%);
}

.exercise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn,
.delete-btn,
.add-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  transition: var(--transition);
}
.edit-btn,
.add-btn {
  color: var(--clr-green-light);
}
.edit-btn:hover,
.add-btn:hover {
  color: var(--clr-green-dark);
  font-size: 1rem;
}

.delete-btn {
  color: var(--clr-red-light);
  font-size: 0.7rem;
}
.delete-btn:hover {
  color: var(--clr-red-dark);
  font-size: 1rem;
}

.exercise-added input {
  border-color: green;
  background: #e0eae1;
}
