.workout-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.workout-table thead tr {
  background-color: #009879;
  color: #ffffff;
}

.workout-table th,
.workout-table td {
  padding: 12px 15px;
}

.workout-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.workout-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.workout-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.workout-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.workout-table td input {
  width: 30px;
}

.workout-table button.track-exercise-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  transition: var(--transition);
}

.workout-table button.track-exercise-btn {
  color: var(--clr-green-light);
}

.workout-table button.track-exercise-btn {
  color: var(--clr-green-dark);
  font-size: 1rem;
}

.workout-table button.track-exercise-btn--disabled {
  background: transparent;
  border-color: transparent;
  cursor: not-allowed;
  font-size: 0.7rem;
  transition: var(--transition);
  color: grey;
}
