.fill-input {
  background-color: gainsboro;
  text-align: center;
  border-radius: 3px;
}

.input {
  text-align: center;
  border-radius: 3px;
}

.exercise-info-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  position: relative;
  top: 1px;
  padding-left: 1px;
}

.exercise-video-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  position: relative;
  top: 1px;
  padding-left: 0px;
}
